<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>Make every call on time | talkThen</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navigation">

    <!-- Fixed navbar -->
	    <div id="navigation" class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#"><b>talkThen</b></a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li class="active"><a href="#home" class="smoothScroll">Home</a></li>
	            <li><a href="#desc" class="smoothScroll">How it Works</a></li>
	            <li><a href="#contact" class="smoothScroll">Contact</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>


	<section id="home" name="home"></section>
	<div id="headerwrap">
	    <div class="container" style="padding-bottom:120px">
	    	<div class="row centered">
	    		<div class="col-lg-12">
					<h1>Make every call on time.</h1>
					<!--<h1>No more "call me maybe."</h1>-->
          <!--<h3>No more missed or late calls.</h3>-->
					<h3 style="color:white; font-size:21px">talkThen prevents wasted time by simply calling everyone when your conference is scheduled to start.</h3>
					<br>
	    		</div>

	    		<div class="col-md-2">
	    			<!--<h5>Ditch calendars and manual reminders.</h5>
            <p>No more missed or late calls!</p>
	    			<img class="hidden-xs hidden-sm hidden-md" src="assets/img/arrow1.png">
          -->
	    		</div>
	    		<div class="col-md-8">
	    			<!--<img class="img-responsive" src="assets/img/app-bg.png" alt="">-->
            <form role="form">
              <div class="form-group col-md-4">
                <!--<label for="exampleInputEmail1">Your phone number</label>-->
                <input type="text" class="form-control input-md" id="phone1" placeholder="Your phone number">
              </div>
              <div class="form-group col-md-4">
                <input type="text" class="form-control input-md" id="phone2" placeholder="Other person's number">
              </div>
              <div class="form-group col-md-4">
                <input type="text" class="form-control input-md" id="when" placeholder="When is your call?">
                <span id="when_hint" style="color:orange;display:none;">&rarr; examples: "9am next fri," "4pm 3/15"</span>
                <span id="when_error" style="color:red;display:none;">not valid</span>
              </div>
              <button type="button" id="btn_schedule" class="btn btn-default btn-warning btn-lg" style="margin-top:10px" data-toggle="modal" data-target="#confirmationModal">Schedule it</button>
              <div class="hidden-xs hidden-sm hidden-md" style="position:absolute;top:75px;right:115px;">
              <img class="hidden-xs hidden-sm hidden-md" src="assets/img/arrow2.png">
              <p><em>No more missed or late calls!</em></p>
              </div>
            </form>
	    		</div>
	    		<div class="col-md-2">
<!--
	    			<br>
	    			<img class="hidden-xs hidden-sm hidden-md" src="assets/img/arrow2.png">
-->
	    			<!--<h5>Make your life on time.</h5>-->
<!--
	    			<p>No more missed or late calls!</p>
-->
	    		</div>
	    	</div>
	    </div> <!--/ .container -->
	</div><!--/ #headerwrap -->


	<section id="desc" name="desc"></section>
	<!-- INTRO WRAP -->
	<div id="intro">
		<div class="container">
			<div class="row centered">
				<h1>How it works</h1>
				<br>
				<br>
				<div class="col-lg-4">
					<img src="assets/img/intro02.png" alt="">
					<h3>1. Schedule a call</h3>
					<p>Let us know who you want to call and when.</p>
				</div>
				<div class="col-lg-4">
					<img src="http://i.imgur.com/KIR75V1.png" alt="" style="height:128px;width:auto;">
					<h3>2. talkThen calls automatically</h3>
					<p>At exactly the appointed time, you'll both get a call. You'll get a text reminder 15 minutes in advance.</p>
				</div>
				<div class="col-lg-4">
					<img src="http://i.imgur.com/AQY3cjY.png" alt="" style="height:128px;width:auto;">
					<h3>3. One less thing</h3>
					<p>Never worry about on-time calls again.</p>
				</div>
			</div>
			<br>
			<hr>
	    </div> <!--/ .container -->
	</div><!--/ #introwrap -->

	<!-- FEATURES WRAP -->
	<div id="features">
		<div class="container">
			<div class="row">
				<h1 class="centered">FAQ</h1>
				<br>
				<br>
<!--
				<div class="col-lg-6 centered">
					<img class="centered" src="assets/img/mobile.png" alt="">
				</div>
-->

				<!--<div class="col-lg-6">-->
				<div class="col-lg-8 col-lg-offset-2">
					<!--<h3>Some Features</h3>-->
					<br>
				<!-- ACCORDION -->
          <div class="accordion ac" id="accordion2">
              <div class="accordion-group">
                  <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                      How it works
                      </a>
                  </div><!-- /accordion-heading -->
                  <div id="collapseOne" class="accordion-body collapse in">
                      <div class="accordion-inner">
          <p>When you schedule a call, both parties will receive a text confirming the date &amp; time of the phone call.  Cancel at any time by replying to the text.</p>
          <p>Or, if you provide an email after signup, you'll get an email confirmation instead.  Some people prefer this so they can forward the email themselves.</p>
          </div><!-- /accordion-inner -->
                  </div><!-- /collapse -->
              </div><!-- /accordion-group -->
              <br>

              <div class="accordion-group">
                  <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                      When the call happens
                      </a>
                  </div>
                  <div id="collapseTwo" class="accordion-body collapse in">
                      <div class="accordion-inner">
          <p>You'll get a call from a 415 number.  The first person to pick up will hear the phone ringing.  When the other person picks up, it just becomes a normal phone call.</p>
          <p>In the event that the other person doesn't pick up, you can treat it like a normal call - leave a message or hang up.</p>
          </div><!-- /accordion-inner -->
                  </div><!-- /collapse -->
              </div><!-- /accordion-group -->
              <br>

               <div class="accordion-group">
                  <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                      Pricing
                      </a>
                  </div>
                  <div id="collapseThree" class="accordion-body collapse in">
                      <div class="accordion-inner">
          <p>This is currently a free service.  Eventually we'll charge for things like large conference calls or automatic call recording.</p>
          </div><!-- /accordion-inner -->
                  </div><!-- /collapse -->
              </div><!-- /accordion-group -->
              <br>
					</div><!-- Accordion -->
				</div>
			</div>
		</div><!--/ .container -->
	</div><!--/ #features -->


	<section id="showcase" name="showcase"></section>
	<div id="showcase" style="display:none;">
		<div class="container">
			<div class="row">
				<h1 class="centered">Some Screenshots</h1>
				<br>
				<div class="col-lg-8 col-lg-offset-2">
					<div id="carousel-example-generic" class="carousel slide">
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
					    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
					  </ol>

					  <!-- Wrapper for slides -->
					  <div class="carousel-inner">
					    <div class="item active">
					      <img src="assets/img/item-01.png" alt="">
					    </div>
					    <div class="item">
					      <img src="assets/img/item-02.png" alt="">
					    </div>
					  </div>
					</div>
				</div>
			</div>
			<br>
			<br>
			<br>
		</div><!-- /container -->
	</div>


	<section id="contact" name="contact"></section>
	<div id="footerwrap">
		<div class="container">
			<div class="col-lg-5">
<!--
				<h3>Address</h3>
				<p>
				Av. Greenville 987,<br/>
				New York,<br/>
				90873<br/>
				United States
				</p>
			</div>
-->
			<div class="col-lg-7">
				<h3>Drop Us A Line</h3>
				<br>
				<form role="form" action="#" method="post" enctype="plain">
				  <div class="form-group">
				    <label for="name1">Name</label>
				    <input type="name" name="Name" class="form-control" id="name1" placeholder="Your Name">
				  </div>
				  <div class="form-group">
				    <label for="email1">Email address</label>
				    <input type="email" name="Mail" class="form-control" id="email1" placeholder="Your email">
				  </div>
				  <div class="form-group">
				  	<label>Your message</label>
				  	<textarea class="form-control" name="Message" rows="3"></textarea>
				  </div>
				  <br>
				  <button type="submit" class="btn btn-large btn-success">SUBMIT</button>
				</form>
			</div>
		</div>
	</div>
	<div id="c">
		<div class="container">
			<p>Made by <a href="http://ianww.com">Ian Webster</a></p>

		</div>
	</div>
</div> <!-- end footerwrap -->

<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="confirmationModalLabel">Confirm your call</h4>
      </div>
      <div class="modal-body" style="font-weight:bold">
        <p>
        Enter your email to receive a confirmation that you can forward to people on the call:
        </p>
        <input type="email" class="form-control input-lg" id="email" placeholder="your@email.com"/>
        <p></p>
        <p>
        Or, leave blank to receive no email confirmation.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
        <button id="btn_confirm_schedule" type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/smoothscroll.js"></script>
    <script src="assets/js/sugar-date.min.js"></script>

    <script src="assets/js/bootstrap.js"></script>
    <script>
/*
    $('.carousel').carousel({
      interval: 3500
    })
 */
 $(function() {

    $('#when').on('focus', function() {
      $('#when_hint').show();
    }).on('blur', function() {
      $('#when_hint').hide();
    }).on('keyup', function() {
      var d = Date.create($('#when').val());
      if(!d.isValid()) {
        text = 'Invalid date.'
      } else {
        text = d.format('{Weekday} {Month} {ord} @ {h}:{mm}{tt} {tz}');
      }
      $('#when_hint').show().html(text);
    });

    $('#btn_schedule').on('click', function() {
      setTimeout(function() {
        $('#email').focus();
      }, 500);
    });

    $('#btn_confirm_schedule').on('click', function() {
      var email = $('#email').val().trim();
      var p1 = $('#phone1').val().trim();
      var p2 = $('#phone2').val().trim();
      var when = Date.create($('#when').val());
      if (!when.isValid()) {
        alert('Invalid date');
        return false;
      }
      if (p1 == '' || p2 == '') {
        alert('You are missing inputs');
        return false;
      }

      $('#confirmationModal').modal('hide')
      $.post('/core/create_call/', {
        from: p1,
        to: p2,
        when: +when,
        email: email
      }, function(data) {
        console.log(data);
        alert('Your call has been scheduled.');
      });
      return false;
    });

  });

    </script>

<script type="text/javascript">
window.analytics||(window.analytics=[]),window.analytics.methods=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var method=window.analytics.methods[i];window.analytics[method]=window.analytics.factory(method)}window.analytics.load=function(t){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)},window.analytics.SNIPPET_VERSION="2.0.8",
  window.analytics.load("t4gry20a77");
window.analytics.page();
</script>
<!--
com:
talkthen
talkbelt
letstalkthen
calllater
talkops
talkowl
callhead
callbelt
talktoyouthen
thenphone
thentalk
lessphone
tartcall
lesscall
callsane
calltied

io:
talksoon
talklater
easycall
callmethen/callmemaybe
callrock
ttys
ttfn
countonit
noworries
chatsoon
chatlater
nottoworry
easyplan
-->
  </body>
</html>
